.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teammate-Card__gallery{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.team-header{
    color: #8e80a9;
    text-align: center;
}

.teammate-Card__expirience{
    color: #E65C7B;
    text-align: center;
    font-size: 10px;
    width: 228px;
}

.teammate-Card__info{
    color: #8E80A9;
    font-size: 10px;
    width: 228px;
}