.title {
    text-align: center;
    background: url("https://i.ibb.co/nrd0Sss/image.jpg");
    background-repeat: no-repeat;
  }
  
  .title__slogan {
    color: #8e80a9;
    font-style: italic;
    font-size: 13px;
  }
  
  .title__name {
    margin: 10px auto 15px auto;
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 17px;
  }
  
  .title__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
  }
  
  .title__button-text {
    font-size: 10px;
    margin-left: 5px;
    color: #e65c7b;
    text-align: left;
  }
  
  .yoga-kinds__name {
    margin-top: 50px;
    text-align: center;
    color: #8e80a9;
  }